.settings-list {
  padding: var(--horizontal-space);
}

.settings-list-kokoa {
  padding-top: 0;
  padding-bottom: 20px;
}

.settings-list-privacy {
  padding-top: 20px;
  padding-bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0 , .1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:last-child {
  border: none;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
  opacity: .8;
}

.settings__setting-column span i {
  vertical-align: -3px;
  color: tomato;
}

.settings__setting-column:last-child {
  opacity: .5;
}
