.navi {
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121,121,121,.3);
  width: 100%;
  position: fixed;
  bottom: 0;
}

.navi__list {
  display: flex;
  justify-content: space-between;
}

.navi__link { position: relative; color: #2e363e; }

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.navi__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation .3s ease-in-out forwards;
}

.navi__btn:nth-child(2) {
  animation-delay: .3s;
  position: relative;
}

.navi__btn:nth-child(3) {
  animation-delay: .6s;
}

.navi__btn:last-child {
  animation-delay: .9s;
  position: relative;
}

@keyframes notificationAnimation {
  0% { transform: none; }
  50% { transform: translateY(-5px) rotateY(360deg); }
  100% { transform: none; }
}

.navi__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out infinite;
}
